/**
 *	Dropdowns
 */

.dropdown {
	position: relative;
}
.dropdown:hover {
	> .dropdown-menu {
		display: block;
		
		a {
			background: $blue;
		}
	}
}
.dropdown-menu {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	width: inherit;
	padding: 0;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	
	> li {
		list-style: none;
		padding: 0;
		
		> a {
			display: block;
			padding: 12px 21px;
			clear: both;
			white-space: nowrap;
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid $blue-light;
		}
		> a:hover, > a:focus {
			text-decoration: none;
		}
	}
	> li:hover a:hover {
		background: #fff;
		color: $blue;
		-webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	}
}
.dropdown-right {
	.dropdown-menu {
		left: auto;
		right: 0;
	}
}