body {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
	background: $extra-light;
}

.clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}

.microcopy{
	text-transform: uppercase;
	font-size: 0.5em;
	font-weight: 600;
	color: #a0a0a0;
}

.dropdown {
	text-align: left;
	background: #fff;
	margin-top: 0;
	position: relative;
	width: 150px;
	border: 1px solid #777;
	border-radius: 4px;
	padding-right: 0;
	font-size: 14px;
	color: #777;
	cursor: pointer;
	
	&:hover{
		color: lighten(#777, 10%);
		border-color: lighten(#777, 10%);
		
		.toggle{
			&:after{
				border-top-color: lighten(#777, 10%);
			}
		}
	}
	
	.option {
		cursor: pointer;
		line-height: 18px;
		white-space: nowrap;
		padding: 5px 5px 5px 8px;
		font-weight: 400;
	}

	.toggle {
		float: right;
		width: 30px;
		height: 18px;
		position: relative;
		cursor: pointer;
		border-left: 1px solid #CECACA;
		margin-top: 5px;

		&:after {
			content: '';
			position: absolute;
			top: 37%;
			right: 10px;
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-top: 6px solid #777;
		}
	}
	.point {
		position: absolute;
		right: 40px;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom: 10px solid #F7F7F7;
		@include vendor-prefix(filter, 'drop-shadow(0 -1px rgb(100, 100, 100))');
		z-index: 4;
		display: none;
		top: 14px;
		
		&.blue{
			border-bottom-color: $blue;
		}
	}
	.popup {
		background: #F7F7F7;
		max-height: 0;
		@include vendor-prefix(transition, 'max-height 0.3s');
		border-radius: 4px;
		position: absolute;
		width: 300px;
		right: 0;
		top: 32px;
		left: auto;
		margin: 0;
		overflow-y: auto;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);
		@include vendor-prefix(column-break-inside, 'avoid');

		.option {
			padding: 5px 32px 5px 20px;
			color: black;
			max-width: 298px;
			overflow: hidden;
			text-overflow: ellipsis;

			&:first-of-type {
				padding-top: 10px;
			}
			&:last-of-type {
				padding-bottom: 10px;
			}
			&.selected {
				background: $blue;
				color: white;
			}
		}
	}
	&.open{
		/*
margin-bottom: .1em;
		top: .1em;
*/
		
		.toggle {
			height: 18px;
		}
		.popup {
			max-height: 462px;
			z-index: 3;
			border: 1px solid #7E7E7E;
			min-height: 20px;
		}
		
		.point {
			display: block;
		}
	}
}



*, *:before, *:after{
	@include vendor-prefix(box-sizing, 'border-box');
	margin: 0;
	padding: 0;
	line-height: 1;
}

.hr {
	height: 1px;
	background: #eee;
}

.page {
	position: fixed;
	top: 46px;
	bottom: 0;
	left: -100%;
	right: 100%;
	padding-left: 246px;
	padding-bottom: 20px;
	overflow: auto;
	box-sizing: border-box;
	@include vendor-prefix(transition, 'left 1s, right 1s');
	
	&.has-subnav{
		top: 81px;
	}
	
	&.show {
		left: 0;
		right: 0;
	}

	h1 {
		margin: 10px auto;
		clear: both;
		font-weight: 600;
		text-transform: capitalize;
		
		.row{
			margin-bottom: 15px;
			border-bottom: 1px solid #d6d6d6;
			padding: 0 0 5px 0;
		}
	}
	
	.nav {
		margin-top:20px;
	}
	
	.row{
		font-weight: 500;
		color: #464646;
		width: 860px;
		margin: 0 auto;
		box-sizing: border-box;
		clear: both;
		
		div.inner-row {
			float: left;
			width: 100%;
			
			&.quarter {
				width: 24%;
				margin-right: 1.333%;
				
				&:last-child, &:nth-child(4n){
					margin-right: 0;
				}
			}
	
			&.half {
				width: 49%;
				margin-right: 2%;
				
				&:nth-child(2n){
					margin-right: 0;
				}
				
				& + .quarter{
					margin-right: 1%
				}
				
			}
			
			&.three-quarter{
				width: 74%;
				margin-right: 2%;
			}
		}
	}
}

.main-header{
	color: $darker;
	padding: 0 0 15px;
	margin-bottom: 60px;
	position: relative;
	
	h1.row{
		
		.btn{
			padding: 4px 12px;
			font-size: .8rem;
			float: right;
			min-width: 74px;
			top: 8px;
			
			&.btn-edit {
				padding: 21px 11px 13px;
				line-height: 0;
				font-size: .7em;
			}
		}
	}
	
	.small-load {
		span {
			background: white;
		}
	}
}

.sub-header{
	background: #efefef;
	padding: 0px 0 9px;
}

h1.welcome {
	width: 860px;
	margin: 0 auto;
	box-sizing: border-box;
	clear: both;
	font-weight: 100;
}

#default {
	background: #f0f0f0;
}

.buttons .btn,
.dropdown,
.btn.next,
.btn.prev {
	margin-top: 4px;	
}

.invite-all .dropdown {
	margin-top: 0;
}

.user-invite {
	&.error .btn {
		background-color: #f00;
	}

	&.invite-all {
		margin-bottom: 20px;
	}

	.errors {
		font-size: 0.8em;
		text-align: right;
		color: #f00;
		margin: 3px 0;
	}

	.working {
		float: right;
		padding: 4px 15px;
		background: #313131;
	}

	.email {
		overflow: hidden;
		margin: 2px 0;
		padding: 8px 10px;
		color: #aaa;
		border: 2px solid #fff;
	}
}

.point:hover{
	background: none;
}

@media (min-width: 1375px){

	.page{
		.lg-full{
			width: 100%;
			padding: 0 30px;
		}
		.splitter{
			//@include vendor-prefix(columns, '2');
			//@include vendor-prefix(column-gap, '35px');
			//@include vendor-prefix(column-rule, '1px solid #f0f0f0');
			width: 100%;
			margin-top: 20px;
			padding-left: 60px;
			padding-right: 60px;
			
			.breaker{
				//@include vendor-prefix(column-break-before, 'always');
			}
			
			.row{
				width: 100%;
				//@include vendor-prefix(column-break-inside, 'avoid');
			}
		}
	}
}

