*, *:before, *:after{
	@include vendor-prefix(box-sizing, 'border-box');
	margin: 0;
	padding: 0;
	line-height: 1;
}

body {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
	background: $extra-light;
	color: $dark;
}

a {
	text-decoration: none;
	color: $blue;
}

::-webkit-input-placeholder {
	color: transparent;
}

:-moz-placeholder { /* Firefox 18- */
	color: transparent;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: transparent;
}

:-ms-input-placeholder {  
	color: transparent;
}

.clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.clear{clear: both;}

.fifth {
	width: 19%;
	margin-right: 1.25%;
	float: left;
	
	&:last-child, &:nth-child(5n){
		margin-right: 0;
	}
}

.quarter {
	width: 24%;
	margin-right: 1.333%;
	float: left;
	
	&:last-child, &:nth-child(4n){
		margin-right: 0;
	}
}

.third{
	width: 32.6666%;
	margin-right: 1%;
	float: left;
	
	&:last-child, &:nth-child(3n){
		margin-right: 0;
	}
}

.half {
	width: 49%;
	margin-right: 2%;
	float: left;
	
	&:nth-child(2n){
		margin-right: 0;
	}
	
	+.quarter{
		margin-right: 1%
	}
	
}

.three-quarter{
	width: 74%;
	margin-right: 2%;
	float: left;
	
	&:last-child, &:nth-child(2n){
		margin-right: 0;
	}
}

.list{
	h3{
		color: $blue;
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: 500;
	}
	
	ol, ul{
		font-size: 14px;
		margin-left: 20px;
		
		li{
			line-height: 1.5;
			
			a{
				color: $dark;
			}
		}
	}
}

.right-sidebar{
	float: right;
	width: 260px;
	margin-left: 45px;
	font-family: "Roboto Condensed";
	
	.side-section{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid lighten($medium, 20%);
		
		&:last-child{
			margin-bottom: 0;
			padding-bottom: 0;
			border: none;
		}
		
		h2.heading{
			font-size: 20px;
			color: $medium;
			font-weight: 500;
			line-height: 1.3;
			text-align: center;
			margin-bottom: 30px;
			padding: 0 30px;
		}
	
		h3{
			color: $green;
			border-bottom: 1px solid;
			margin-bottom: 15px;
			line-height: .95;
			font-size: 22px;
			font-weight: 300;
			text-shadow: 1px 0 0 $extra-light, -1px 0 0 $extra-light;
		}
		
		.cost{
			font-size: 30px;
			font-weight: 600;
			margin-bottom: 20px;
			
			span{
				font-size: 16px;
				color: $medium;
				font-weight: 400;
			}
		}
		
		.features{
			list-style: none;
			margin-bottom: 30px;
			
			li{
				line-height: 2;
				color: $medium;
				font-size: 14px;
				padding-left: 20px;
				position: relative;
				
				&:before{
					position: absolute;
					left: 0;
					top: 7px;
					
				}
				
				&.active{
					&:before{
						content: '\2713';
						color: white;
						background: $green;
						border-radius: 50%;
						height: 14px;
						width: 14px;
						text-align: center;
						font-size: 11px;
						line-height: 1.2;
					}
				}
				
				&.inactive{
					&:before{
						content: '\2716';
						color: $red;
						font-size: 17px;
						top: 5px;
					}
					
					span{
						+span{
							font-family: serif;
							color: white;
							background: darken($light, 15%);
							border-radius: 50%;
							height: 14px;
							width: 14px;
							margin-left: 3px;
							padding-left: 1px;
							text-align: center;
							font-size: 12px;
							line-height: 1.3;
							display: inline-block;
							cursor: pointer;
							@include vendor-prefix(transition, 'background .3s');
							
							.info{
								opacity: 0;
								position: absolute;
								bottom: 28px;
								left: 7.5%;
								z-index: 1;
								width: 85%;
								padding: 10px;
								background: rgba($dark-blue, .9);
								font-family: 'Roboto Condensed';
								font-weight: 100;
								line-height: 1.3;
								pointer-events: none;
								@include vendor-prefix(transition, 'opacity .3s');
								
								&.reporting, &.pos{
									
								}
							}
							
							&:hover{
								background: $medium;
								
								.info{
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
		
		&.social{
			a{
				font-size: 17px;
				padding: 10px 0 7px 45px;
				color: $medium;
				display: block;
				margin: 0 0 20px;
				background: url(../../images/social-icons.png) no-repeat;
				
				&.facebook-link{
					background-position: 0 -72px ;
				}
				
				&.google-plus-link{
					background-position: 0 -138px;
				}
			}
		}
		
		.btn{
			display: block;
			font-family: "Roboto";
		}
	}
}

.dropdown {
	text-align: left;
	background: #fff;
	margin-top: 0;
	position: relative;
	width: 150px;
	border: 1px solid #777;
	border-radius: 4px;
	padding-right: 0;
	font-size: 14px;
	color: #777;
	cursor: pointer;
	
	&:hover{
		color: lighten(#777, 10%);
		border-color: lighten(#777, 10%);
		
		.toggle{
			&:after{
				border-top-color: lighten(#777, 10%);
			}
		}
	}
	
	.option {
		cursor: pointer;
		line-height: 18px;
		white-space: nowrap;
		padding: 5px 5px 5px 8px;
		font-weight: 400;
		
		input{
			outline: none;
			border: none;
			font-size: 16px;
			height: 25px;
			margin: 0;
			padding: 2px 0 0 0;
			font-weight: 300;
			font-family: 'Roboto', sans-serif;
			width: 100%;
		}
	}

	.toggle {
		float: right;
		width: 30px;
		height: 24px;
		position: relative;
		cursor: pointer;
		border-left: 1px solid #CECACA;
		margin-top: 5px;

		&:after {
			content: '';
			position: absolute;
			top: 37%;
			right: 10px;
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-top: 6px solid #777;
		}
	}
	.point {
		position: absolute;
		right: 40px;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom: 10px solid #F7F7F7;
		@include vendor-prefix(filter, 'drop-shadow(0 -1px rgb(100, 100, 100))');
		z-index: 4;
		display: none;
		top: 14px;
		
		&.blue{
			border-bottom-color: $blue;
		}
		
		&:hover{
			background: none;
		}
	}
	.popup {
		background: #F7F7F7;
		max-height: 0;
		@include vendor-prefix(transition, 'max-height 0.3s');
		border-radius: 4px;
		position: absolute;
		width: 300px;
		right: 0;
		top: 32px;
		left: auto;
		margin: 0;
		overflow-y: auto;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);
		@include vendor-prefix(column-break-inside, 'avoid');

		.option {
			padding: 5px 32px 5px 20px;
			color: black;
			max-width: 298px;
			overflow: hidden;
			text-overflow: ellipsis;

			&:first-of-type {
				padding-top: 10px;
			}
			&:last-of-type {
				padding-bottom: 10px;
			}
			&.selected {
				background: $blue;
				color: white;
			}
		}
	}
	
	&.open{
		.toggle {
			height: 18px;
		}
		.popup {
			max-height: 462px;
			z-index: 3;
			border: 1px solid #7E7E7E;
			min-height: 20px;
		}
		
		.point {
			display: block;
		}
	}
}

.page {
	position: fixed;
	top: 46px;
	bottom: 0;
	left: -100%;
	right: 100%;
	padding: 0 15px 76px 261px;
	overflow: auto;
	@include vendor-prefix(transition, 'left 1s, right 1s');
	
	&#landing {
		.main-header {
			position: absolute;
			top: 50%;
			left: 261px;
			right: 0;
			margin-top: -40px;
		}
	}
	
	&.show {
		left: 0;
		right: 0;
	}
}

.main-header{
	position: relative;
	margin: 20px 0 15px;
	padding: 0 0 7px;
	border-bottom: 1px solid;
	width: 1280px;
	
	@media(max-width: $two-col-break){
		width: 980px;
	}
	
	h1{
		font-size: 27px;
		font-weight: 200;
		float: left;
		position: relative;
		top: 9px;
		
		span{
			&:last-child{
				color: $medium;
			}
		}
	}
	
	.btn{
		float: right;
		margin-left: 10px;
	}
	
	.small-load {
		span {
			background: $blue;
		}
	}
}

.sub-header{
	width: 1280px;
	
	@media(max-width: $two-col-break){
		width: 980px;
	}
}

.main-container{
	width: 1280px;
	
	@media(max-width: $two-col-break){
		width: 980px;
	}
}

.slider{
	position: relative;
	left: -650px;
	z-index: -1;
	@include vendor-prefix(transition, 'left .3s, z-index 0 .3s');
	
	&.shown{
		left: 0;
		z-index: 0;
	}
}

.no-section{
	width: 695px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: 400;
	color: $medium;
	
	svg{
		margin-right: 20px;
	}
	
	div{
		margin-bottom: 20px;
	}
}

.section{
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	width: 630px;
	margin-bottom: 20px;
	padding: 20px 15px;
	@include vendor-prefix(transition, 'max-height .3s');
	
	@media(max-width: $two-col-break){
		width: 980px;
	}
	
	&.full{
		width: auto;
	}
	
	&.collapsable{
		max-height: 1000px;
		@include vendor-prefix(transition, 'max-height .3s, overflow 0 .3s');
		
		&.hide{
			max-height: 59px;
			overflow: hidden;
		}
	}
	
	.section-header{
		font-size: 24px;
		font-weight: 300;
		line-height: 1.4;
		color: $medium;
		margin: 0 0 15px;
		display: inline-block;
		
		span.editing{
			color: $red;
		}
		
		&.collapser{
			position: relative;
			cursor: pointer;
			
			&:after{
				content: '\203A';
				position: absolute;
				right: -25px;
				top: -3px;
				font-size: 37px;
				font-weight: 100;
				@include vendor-prefix(transition, 'all .3s');
			}
			
			&.active{
				&:after{
					@include vendor-prefix(transform, 'rotate(90deg)');
				}
			}
		}
	}
	
	.list-header{
		font-size: 12px;
		font-weight: 900;
		text-transform: uppercase;
		color: darken($light, 10%);
		border-bottom: 1px solid $light;
		margin-bottom: 10px;
		padding-bottom: 5px;
		
		div{
			float: left;
		}
	}
	
	.section-list{
		list-style: none;
		
		li{
			text-transform: uppercase;
			font-size: .8rem;
			font-weight: 700;
			margin: 0 0 15px;
			
			.actions{
				float: right;
				text-align: right;
				position: relative;
				top: -2px;
				margin-left: 10px;
			}
		}
	}
}

.link{
	color: $blue;
	text-decoration: underline;
	cursor: pointer;
}

.large-type{
	font-size: 22px;
}

.item-set{
	border: 1px solid $medium;
	padding: 30px 20px;
	position: relative;
	margin-top: 10px;
	
	> div{
		margin: 0 0 20px;
		
		&:last-child{
			margin-bottom: 0;
		}
		
		&.set-label{
			font-size: 12px;
			color: $medium;
			text-transform: uppercase;
			position: absolute;
			top: -6px;
			background: white;
			padding: 0 10px;
		}	
	}
}

.blurb{
	font-weight: 200;
	font-size: 14px;
	line-height: 1.3;
	color: $medium;
	margin: 0 0 15px;
}

.microcopy{
	font-weight: 500;
	font-size: 12px;
	color: $medium;
	text-transform: uppercase;
}

#footer{
	display: none;
	background: $medium-blue;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: rgba(255, 2255, 255, .5);
	padding: 20px 0 20px 260px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#default{
	background: $dark-blue;
	top: 0 !important;
}

/* delete this */
h1.welcome {
	width: 860px;
	margin: 0 auto;
	box-sizing: border-box;
	clear: both;
	font-weight: 100;
}

/* move this to the right place */
.invite-all .dropdown {
	margin-top: 0;
}

/* move this to the right place */
.user-invite {
	&.error .btn {
		background-color: #f00;
	}

	&.invite-all {
		margin-bottom: 20px;
	}

	.errors {
		font-size: 0.8em;
		text-align: right;
		color: #f00;
		margin: 3px 0;
	}

	.working {
		float: right;
		padding: 4px 15px;
		background: #313131;
	}

	.email {
		overflow: hidden;
		margin: 2px 0;
		padding: 8px 10px;
		color: #aaa;
		border: 2px solid #fff;
	}
}

