.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -420px;
	width: 420px;
	background: $dark-blue;
	z-index: 20;
	@include vendor-prefix(transition, 'right 0.5s');

	&.show {
		left: 0;
	}
	
	&#browser{
		width: 246px;
		padding: 5px 0 5px 16px;
		
		.head{
			h1{
				a{
					background: url(../../images/arezLogo_sidebar.png) no-repeat;
					height: 0;
					padding: 30px 0 0;
					overflow: hidden;
					width: 120px;
					margin: 0 auto 40px;
					display: block;
				}
			}
		}
		
		.main-menu{
			margin: 0 0 0 -16px;
			
			a{
				display: block;
				color: white;
				font-size: 14px;
				font-weight: 300;
				opacity: .71;
				padding: 0 39px;
				line-height: 40px;
				background: url(../../images/sidebar-sprites.png) no-repeat;
				position: relative;
				@include vendor-prefix(transition, 'background-color 0.3s');
				
				&:hover{
					background-color: $dark-blue + 7;
				}
				
				&.has-subnav{
					&:after{
						content: '\203A';
						position: absolute;
						right: 20px;
						top: 7px;
						font-size: 23px;
						font-weight: 100;
						@include vendor-prefix(transition, 'all .3s');
					}
					&.active{
						&:after{
							@include vendor-prefix(transform, 'rotate(90deg)');
						}
					}
				}
				
				&.account-manage{background-position: 16px 12px}
				&.marketplace{background-position: 16px -21px}
				&.products{background-position: 16px -50px}
				&.sales-channels{background-position: 16px -83px}
				&.reports{background-position: 16px -115px}
				&.operations{background-position: 16px -146px}
				&.fulfillment{background-position: 16px -178px}
				&.dispatch{background-position: 16px -209px}
				&.support{background-position: 16px -246px}
				&.billing{background-position: 16px -277px}
				&.POS{background-position: 16px -307px}
				
				&.selected{
					background-color: $blue;
					opacity: 1;
					
					&:after{
						content: '';
						position: absolute;
						right: 0;
						top: 13px;
						border: 10px solid transparent;
						border-right-color: $extra-light; 
					}
				}
			}
			
			.subnav{
				background-color: $dark-blue - 10;
				max-height: 0;
				overflow: hidden;
				@include vendor-prefix(transition, 'max-height .3s');
				
				&.open{
					max-height: 130px;
				}
				
				a{
					&:hover{
						background-color: $dark-blue - 3;
					}
				}
			}
		}
	}
}

.user-actions{
	position: absolute;
	bottom: 20px;
	
	a{
		background: url(../../images/powerIcon.png) no-repeat;
		color: white;
		font-size: 14px;
		font-weight: 300;
		opacity: .71;
		padding: 1px 0 1px 21px;
		display: block;
		margin-bottom: 10px;
	}
	
	.agency{
		color: white;
		font-size: 12px;
		font-weight: 300;
		text-transform: uppercase;
		opacity: .5;
	}
}

#top-menu{
	padding-left: 246px;
	background: $dark-blue;
	
	a{
		font-size: 16px;
		font-weight: 300;
		color: rgba(255, 255, 255, .5);
		background: $dark-blue;
		padding: 15px;
		display: block;
		float: left;
		@include vendor-prefix(transition, 'background-color 0.3s');
		
		&:hover{
			background-color: $dark-blue + 7;
		}
		
		&.selected{
			background-color: $blue;
			color: white;
		}
	}
}