/**
 *	ActivityRez Agent POS Stylesheet File
 *
 *	@author Ryan Freeman <ryan@activityrez.com>
 */

/* Libraries */
@import 'lib/normalize';
@import 'lib/font-awesome/font-awesome';

/* ActivityRez Bootstrap */
@import 'global';
@import 'alerts';
@import 'buttons';
@import 'forms';
@import 'navigation';
@import 'dropdowns';

/* ActivityRez Views */
@import 'login';
	
/**
 *	Shell
 */

	/* Main Container */
	#main {
		margin-top: 46px;
	}
	
/**
 *	Clearfix
 */

.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.clearfix {
	display: block;
}